@import '../../sass-helpers/constants.sass'
@import '../../sass-helpers/mixins.sass'

.span_error_message
    color: $warningColor
    font-size: 13px
    padding: 5px 10px 0 10px

.span_label
    font-size: 15px
    padding: 0 0 5px 10px

.input_wrapper
    @include font
    display: flex
    flex-direction: column
    min-width: 300px
    max-width: 500px

.input
    @include border
    @include font
    padding: 0 20px
    width: 100%
    &:focus
        @include shadow
    &:disabled
        @include disabled

.search_input
    padding: 0 40px
    position: relative

.search
    position: absolute

.clear
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

.medium
    font-size: 18px
    height: 30px

.large
    font-size: 22px
    height: 39px

.char_count
    display: flex
    justify-content: flex-end
    padding-top: 5px

.span_storybook
    width: max-content

.all
    display: grid
    grid-template-columns: 1fr 0.5fr
    gap: 50px
    justify-items: center
    align-items: center
